# Binarios y Temporales
*.exe
giros_crud*
main*
*.tmp
.scannerwork/

# Variables de Entorno
*.env
!template.env

# IDEs
.vscode

# Otros
ejec.sh
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
swagger.zip
