giros_crud
giros_crud.exe
giros_crud.exe~
./giros_crud
./giros_crud.exe
lastupdate.tmp
.vscode/
main
ejec.sh
go.mod
go.sum
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/*.yml
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
swagger.zip
